# Database Settings
DB_URL=jdbc:mysql://<database_host>:<database_port>/<database_name>
DB_USERNAME=<database_username>
DB_PASSWORD=<database_password>

# Application Storage Locations
APP_STORAGE_BOOKS=<path_to_books_directory>
APP_STORAGE_THUMBNAILS=<path_to_thumbnails_directory>
APP_STORAGE_INDEXES=<path_to_lucene_indexes_directory>

# Virus Scan Settings (ClamAV)
APP_VIRUS_SCAN_HOST=<clamav_host_ip_or_domain>
APP_VIRUS_SCAN_PORT=<clamav_port>
